  /* ===== ROOT COLORS ===== */
  :root {
    --blue: #0057ff;
    --green: #00cc66;
    --purple: #7b3cff;
    --light: #f5f5f5;
    --white: #fff;
    --dark: #222;
  }

  /* ===== GENERAL ===== */
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--light);
    color: var(--dark);
  }

  /* ===== NAVBAR ===== */
  header {
    background: linear-gradient(45deg, var(--blue), var(--purple));
    padding: 20px;
  }

  nav {
    display: flex;
    gap: 20px;
  }

  nav a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
  }

  nav a:hover {
    color: var(--green);
  }

  /* ===== HERO SECTION ===== */
  .hero {
    text-align: center;
    padding: 40px;
  }

  .hero h1 {
    color: var(--purple);
    font-size: 2.2rem;
  }

  .profile-box {
    margin: 30px auto;
    background: var(--white);
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .profile-box img {
    width: 180px;
    border-radius: 10px;
    border: 4px solid var(--purple);
  }

  /* ===== ABOUT SECTION ===== */
  .about {
    background: var(--white);
    width: 70%;
    margin: 40px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .about h2 {
    color: var(--blue);
  }

  /* ===== FOOTER ===== */
  footer {
    background: var(--purple);
    color: var(--white);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    border-top: 5px solid var(--green);
  }

  main {
    max-width: 800px;
    margin: 0 auto;
  }

  aside {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f4f4f4;
    color: #333;
  }

  aside img {
    width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
  }

  p {
    padding: 0;
  }

  main img {
    width: 150px;
    height: auto;
  }